# this is the "requirements.txt" file...

python-dotenv

pandas

requests

plotly

sendgrid==6.6.0

flask # <--- ADD FOR WEB APP
gunicorn # <--- UNCOMMENT FOR HEROKU DEPLOY; Heroku server wants to use this package to run our web app


# using this to find and run our tests:
pytest
